@page
@model Sprint_13_Tasks.Pages.SprintTasksModel
@{
    ViewData["Title"] = "Sprint 13 - ViewTask";
}
<ul>
    <li><a href="/Tasks/Greetings/">Greetings</a></li>
    <li><a href="/Tasks/ProductInfo">Product</a></li>
    <li><a href="contact.asp">Supermarkets</a></li>
    <li><a href="about.asp">Shopping list</a></li>
    <li><a href="about.asp">Shopping cart</a></li>
</ul>